:root {
  font-family: sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.container {
  border: 1px solid black;
  border-radius: 50%;

  position: absolute;
  top: 0;
  right: 0;

  height: 100px;
  width: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  animation-name: moveDiagonally;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.containerText {
  font-weight: bold;
  color: purple;
  opacity: 0;
  padding: 8px;

  transition: opacity 0.5s;
}

.containerText:hover {
  opacity: 1;
}

@keyframes moveDiagonally {
  to {
    background: pink;
    border: 10px dotted purple;
    border-radius: 50px;

    transform: translateX(calc(100% - 100vw)) translateY(calc(100vh - 100%));
    width: 200px;
    height: 200px;
    font-size: 2.5rem;
  }
}
